
/*.ProductosLista{
    max-width: 1550px;
    width: 100%;
    min-height: 100vh;
    https://www.youtube.com/watch?v=FKWjiaTEgNA (ejemplo)
}*/

.title{
    font-size: 1.7rem;
    padding: 1rem 0 0 0;
    color: #6b227d;
    text-align: center;
}
.productos{
    padding: 1rem 5rem 5rem 5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 5rem 2.5rem;
    box-sizing: border-box;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0,0,0,.2);
    border: 3px solid transparent;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.producto:hover{
    border: 3px solid #cb76dd;
}
.producto_img img{
    width: 310px;
    padding-top: 30px;
}

.producto-footer h1{
    font-size: 19px;
    color: #1a202c;
    text-align: center;
    height: 19px;
    margin: 10px auto;
}
.producto-footer p{
    font-weight: 600;
    color:#6b227d;
    font-size: 18px;
    text-align: center;
    margin: 10px auto;
}

.producto-footer .price{
    font-size: 27px;
    color: #390234;
    text-align: center;
    margin: 25px auto 40px auto;
}
.producto .buttom{
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1rem;
    padding: 0px 0px 20px 0px;
    margin-right: 15px;
    
}
.buttom .btn-add-cart{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;

}
.buttom button{
    background-color: #22002d;
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    color: white;
    font-weight: 600;
}
.buttom div{
    background-color: #a957bc;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 5px;
    max-width: 170px;
    margin-left: 30px;
}
.buttom div a{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 600;
}
.buttom div a:hover{
    color: white;
}

/**celular**/
@media (max-width: 767px) {
    .productos{
        padding: 10px 19px 10px 19px;
        margin: 0 auto;
    }
    .producto{
        max-width: 320px;
        border-radius: 20px;
    }

    .producto_img img{
        width: 270px;
        padding-top: 15px;
    }
    .producto-footer h1{
        font-weight: 700;
        font-size: 19px;
        height: 15px;
        margin: 13px auto;
    }
    .producto-footer p{
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        height: 15px;
        margin: 13px auto;
    }
    
    .producto-footer .price{
        font-size: 27px;
        height: 40px;
        margin: 30px auto;
    }

    .buttom div{
        margin-left: 10px;
    }

    .producto .buttom{
        width: 95%;
        margin-right: 10px;
    }
}
